@import "partials/_reset";
@import 'partials/_grid';
@import 'partials/_mixins';
@import 'partials/_media';
*{
  box-sizing: border-box;
  
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

.header-container{
  width: 100%;
  margin: auto;
  .dwa{
     width: 100%;
  }
  .nav{
    height: 60px;
    width: 100%;
    background-color: #303030;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile{
    display: none;
  }
  ul{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
  }
  a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 1vw;
  }
  li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li:first-child{
    background-color: #405819;
    width: 290px;
  }
  li:hover{
    background-color:#cbcbcb;
    border-radius: 5px;
  }
  
  li a:hover{
    color: black;
}
.header-image{
  background-image: url('./../assets/tree.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: calc(200px + 8vw);
  border-bottom: solid 20px #303030;
}
}
.ppp{
  
  background-color: lightblue;
 
}
.box-2{
  background-color: pink;
  padding: 20px;
  
 
}

.col-9,
.col-3{
  border: 1px solid black;
}
