@import "partials/_reset";
@import 'partials/_grid';
@import 'partials/_mixins';
@import 'partials/_media';

body{
  font-family: 'Roboto Condensed', sans-serif;
}


.header-container{
  width: 80vw;
  height: 400px;
  margin: auto;
  .nav{
    height: 60px;
    width: 80vw;
    background-color: #303030;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile{
    display: none;
  }
  ul{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
  }
  a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 1vw;
  }
  li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li:first-child{
    background-color: #405819;
    width: 290px;
  }
  li:hover{
    background-color:#cbcbcb;
    border-radius: 5px;
  }
  li:hover a{
    color: black;
  }

}
.header-image{
  background-image: url('./../assets/tree.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: calc(300px + 5vw);
  border-bottom: solid 20px #303030;
}

.green,
.yellow{
  width: 1000px;
  height: 1000px;
  margin: auto;

}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}


