@import "partials/_reset";
@import 'partials/_grid';
@import 'partials/_mixins';
@import 'partials/_media';
@import 'partials/_variables';
@import 'partials/_header';
@import 'partials/footer';

*{
  box-sizing: border-box;
}
body{
  font-family: $font;
}

.box-22{
  background-color: lawngreen;
}
.box-23{
  background-color: lightblue;
}
.box-24{
  background-color: lightslategray;
}
.box-25{
  background-color: green;
}
.box-22{
  background-color: tomato;
}
