
.box-3,
.box-4{
    padding: calc(10px + 1vw);
    .line{
        width: 100%;
        height: 1px;
        background-color: black;
        margin-bottom: 2.3px;
    }
    .slogan{
        font-size: calc(25px + 0.5vw);
        font-weight: 700;
        margin-bottom: 0.5vw;
        padding-left: 1vw;
    }
    .content-text-right{
        padding: 1vw;
        font-size: calc(20px + 0.5vw);
        line-height: calc(20px + 1vw);
    }
    .icon{
        padding: calc(10px + 0.3vw) 0;
        font-size: calc(20px + 0.5vw);
        margin: -0.3vw -0.3vw -0.3vw 0.8vw;
        font-weight: bold;
    }
    .fas{
        margin-right: 1.5vw;
    }
    .mediator-wrapper{
       
        padding: 0.7vw;
        border: solid 1px #CCC;
        box-shadow: 1px 1px 5px #999;
        margin: 1vw;
    }
    .mediator{
        background-image: url('./../assets/Mediator-Iwona-Kotwicka.jpg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 100%;
        position: relative;
        padding-top: 66.66%;
        
    }
    .content-text-left{
        padding: 1vw;
        font-size: calc(20px + 0.5vw);
        line-height: calc(20px + 1vw);
        margin-bottom: 1vw;
    }
    p:last-child{
        font-weight: bold;
        font-style: italic;
      }
}
