$gutter: 0;
@mixin grid($cols) {
  @media screen and (min-width: 700px) {
    display: flex;
    @for $i from 1 through $cols {
      .col-#{$i} {
        flex: 0 0 (100% / $cols) * $i;
      }
    }
  }
}
.container {
  max-width: 1700px;
  width: 100%;
  margin: 0px auto;
  padding: 0 $gutter;
  .row {
    margin-left: -$gutter;
    margin-right: -$gutter;
    [class*="col-"] {
      padding: 0 $gutter;
      margin-bottom: $gutter;
    }
    @include grid(12);
  }
}
