@media screen and (max-width: 700px) {
  body{

    .container{

    }
  .header-container{

    .nav{

      @include hamburger;
    }
    
    
    li{
      display:none;
      height: 100px;
      width: 110px;
      background-color: #cbcbcb;
      justify-content: center;
      align-items: center;
    }
    
    
    li:first-child{
      display: flex;
      height: 100%;
      width: 240px;
      background-color: #405819;
    }
    li a:hover{
      color: white;
  }
    .mobile:first-child{
      display: none;
      height: 100px;
      width: 110px;
      background-color: #cbcbcb;
    }
    
    .ham-wrapper{
      position: relative;
      height: 100%;
      width: 60px;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mobile-wrapper{
      position: absolute;
      top:60px;
      right: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 240px;
      
    }
    
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    
    
  }

   
    
    .click{
      .ham1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-5px, 4px);
      }
      .ham2 {
        opacity: 0;
      }
    
      .ham3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-7px, -6px);
      }
      .mobile{
        display: flex;
      }
      .mobile:first-child{
        display: flex;
      }
    }

  }
  
  }