@media screen and (max-width: 800px) {
  body{
    .container{
      width: 100%;
    // .icon{
    //     margin-left: 10vw;
    // }  
      .contact{
       display: flex;
       flex-direction: column;
        .col-8{
          order: 2;
        }
        .col-4{
          order: 1;
        }
        
      }
    }
    
    .nav{
      @include hamburger;
      li{
        display:none;
        height: 100px;
        width: 110px;
        background-color: #cbcbcb;
        justify-content: center;
        align-items: center;
      }
      li:first-child{
        display: flex;
        height: 100%;
        width: 240px;
        background-color: #405819;
        a{
          width: 240px;
        }
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 5px;
        width: 100px;
        height: 47px;
      }
      li:first-child:hover{
        background-color:#cbcbcb;
        border-radius: 5px;
      }
      .mobile-wrapper a:hover{
        background-color: #919191;
      }
      .mobile:first-child{
        display: none;
        height: 100px;
        width: 110px;
        background-color: #cbcbcb;
      }
    }
    .box-2{
      font-size: calc(18px + 0.5vw);
    }
   
    .ham-wrapper{
      position: relative;
      height: 100%;
      width: 60px;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mobile-wrapper{
      position: absolute;
      top:60px;
      right: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 240px;
    }
    
    .click{
        .ham1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-5px, 4px);
        }
        .ham2 {
          opacity: 0;
        }
      
        .ham3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-7px, -6px);
        }
        .mobile{
          display: flex;
        }
        .mobile:first-child{
          display: flex;
        }
    } 
    .box-3,
    .box-4{
      .slogan{
        // font-size: calc(20px + 1vw);
      }
      .content-text-left,
      .content-text-right{
        padding: 7vw 1.5vw;
        font-size: calc(20px + 0.5vw);
        line-height: calc(20px + 1vw);
        margin-bottom: 1vw;
      }
      .icon{
        font-size: calc(20px + 0.5vw);
      }
      
  }
  .box-5{
    .slogan{
      // font-size: calc(25px + 1vw);
      margin-bottom: 1vw;
      padding-left: 0;
  }
  }
  }
  }
  @media screen and (min-width: 801px) and (max-width: 1200px) {
    .container{
      width: 100%;
    }
    }
  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    .container{
      width: 90%;
    }
    }
  @media screen and (min-width: 1301px) and (max-width: 1500px) {
      .container{
        width: 80%;
      }
  }
  @media screen and (min-width: 1401px) {
    
  }


  @media screen and (max-width: 500px) {
    .container{
    .box-5{
      .text{
        padding: 4vw;
        font-size: calc(20px + 0.5vw);
        line-height: calc(20px + 1vw);
    }
      .home-img-wrapper,
      .process-img-wrapper{
        width: 85%;
        
        float: unset;
        margin: 6%;
        
    }
      .text-slogan{
       
        width: 100%;
        
        // font-size: calc(22px + 0.5vw);
        // line-height: calc(15px + 1vw);
      }
  }
}
}
  