@mixin hamburger {
    .ham-wrapper {
      display: block;
      cursor: pointer;
      margin-right: 30px;
    }
    .ham1, .ham2, .ham3 {
      width: 30px;
      height: 4px;
      background-color: white;
      margin: 4px 0;
      transition: 0.4s;
    }
    .change .ham1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-5px, 4px);
    }
  
    .change .ham2 {
      opacity: 0;
    }
  
    .change .ham3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-7px, -6px);
    }
  
    
  }
  