
.box-5,
.box-4{
    padding: calc(10px + 1vw);
    .text,
    .text-rule{
        padding: 1vw;
        font-size: calc(17px + 0.5vw);
        line-height: calc(17px + 1vw);
        text-align: justify;
    }
    .text-rule{
        padding-bottom: 0;
        font-weight: 700;
    }
    .text-rule:nth-child(4){
        padding-top: 2vw;
    }
    li{
        // list-style-type: circle;
        font-size: calc(17px + 0.5vw);
        line-height: calc(17px + 1vw);
        text-align: justify;
        padding-left: 1vw;
       
    }
    .fa-play{
        margin-right: 1vw;
        font-size: calc(12px + 0.4vw);
    }

    .line{
        width: 100%;
        height: 1px;
        background-color: black;
        margin-bottom: 2.3px;
    }
    .slogan{
        font-size: calc(25px + 0.5vw);
        font-weight: 700;
        margin-bottom: 0.5vw;
        padding-left: 1vw;
        
    }
    .home-img-wrapper{
        width: 50%;
        float: right;
    }
    .home-img{
        width: 100%;
        padding-top: 90%;
        background-image: url(./../assets/mediacje.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left:1vw;
      
        
    }
    .home-rules{
        width: 100%;
        padding-top: 40%;
        background-image: url(./../assets/mediacja.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .process-img-wrapper{
        width: 40%;
        float: right;
    }
    .process-img{
        width: 100%;
        padding-top: 91%;
        background-image: url(./../assets/mediator.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text-slogan{
        float: left;
        width: 45%;
        margin-right: 3%;
        font-size: calc(22px + 0.5vw);
        line-height: calc(15px + 1vw);
        font-weight: 700;
        color: $sec-color;
    }
}




